/**
* The app's CSS file, containing all the styles of the app
* @author Peter Luft <pwluft@lakeheadu.ca>
*/

li {
  list-style: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/* .App-header {
  background-color: rebeccapurple;
  height: 30px;
  padding: 20px;
  color: white;
}

.App-header a {
  color: white;
  margin-right: 60px;
  text-decoration: none;
} */

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.left-pane {
  min-height: 100px;
  width: 50%;
  float: left;
  margin-bottom: 100px;
  vertical-align: top;
  border: 1px solid #ccc;
}

.right-pane {
  margin-left: 50%;
}

.hidden {
  visibility: hidden;
}

.black {
  color: black !important;
}

.black:hover {
  color: black !important;
}

/* HACK for custom theme color  */
.ui.inverted.blue.menu {
  background-color: #002a3a !important;
}

.hoverClick:hover {
  background: rgba(0, 0, 0, 0.05) !important;
  color: rgba(0, 0, 0, 0.95) !important;
}
