/**
* The app's CSS file, containing all the styles of the app
* @author Peter Luft <pwluft@lakeheadu.ca>
*/

li {
  list-style: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/* .App-header {
  background-color: rebeccapurple;
  height: 30px;
  padding: 20px;
  color: white;
}

.App-header a {
  color: white;
  margin-right: 60px;
  text-decoration: none;
} */

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.left-pane {
  /* min-height: 100px; */
  width: 55%;
  float: left;
  margin-top: -14px;
  /* vertical-align: top; */
  /* border: 1px solid #ccc; */
}

.right-pane {
  margin-left: 55%;
  margin-top: 60px;
  margin-right: 10px;
}

.hidden {
  visibility: hidden !important;
}

.none {
  display: none !important;
}

.black {
  color: black !important;
}

.black:hover {
  color: black !important;
}

.ul-padding {
  -webkit-padding-start: 10px;
  -webkit-padding-end: 10px;
}

/* HACK for custom theme color  */
.ui.inverted.blue.menu {
  background-color: #002a3a !important;
}

.hoverClick:hover {
  background: rgba(0, 0, 0, 0.05) !important;
  color: rgba(0, 0, 0, 0.95) !important;
}

body {
  background-color: #e0e0e0;
  overflow: scroll;
}
