li{
  list-style: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rebeccapurple;
  height: 30px;
  padding: 20px;
  color: white;
}

.App-header a {
  color: white;
  margin-right: 60px;
  text-decoration: none;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.newsfeed{
  display: inline-block;
  min-height: 100px;
  width: 50%;
  margin-bottom: 100px;
  vertical-align: top;
  border: 1px solid #ccc;


}

.item-info{
  display:inline-block;
  border: 1px solid #ccc;
}

.hidden{
  visibility: hidden;
}
