.item-info {
  /* border: 1px solid #ccc; */
  /* margin-left: 20px; */
  /* margin-left: 20px; */
  /* margin-top: 65px; */

  background: #003042;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.PlayerInfo {
  background: #0e4050;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5) !important;
  border-radius: 15px;
  height: 135px;
  margin-top: 60px !important;
}
