.item-info {
  /* border: 1px solid #ccc; */
  /* margin-left: 20px; */
  /* margin-left: 20px; */
  /* margin-top: 65px; */

  background: #003042;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
}

.PlayerInfo {
  background: #003042;
  border-radius: 15px;
  height: 135px;
  margin-top: 60px !important;
}

.infoTitle {
  color: #f2f2f2;
}

input[type="text"] {
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  padding: 8px 8px 8px 8px;
  width: 150px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  font-family: "Poiret One", cursive !important;
}

input[type="text"]:focus {
  width: 100%;
  outline: none;
}

input[type="text"]::-webkit-input-placeholder {
  color: #cccccc;
  font-family: "Poiret One", cursive !important;
}

input[type="text"]::selection {
  background: lightblue;
}

.description {
  font-family: "Poiret One", cursive !important;
  font-size: 20px !important;
  line-height: 25px !important;
  margin-bottom: 5px;
}

.date {
  font-family: "Poiret One", cursive !important;
  font-size: 12px !important;
  color: #ffffff;
  margin-top: 10px;
}

.profileImage {
  width: 2.5em;
  height: 2.5em;
  border-radius: 500rem;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
}

.userName {
  color: #cccccc;
  margin: 0 0 0 0;
  font-family: "Poiret One", cursive !important;
  font-size: 10px !important;
}

.comment {
  color: white;
  margin: 0 0 0 0;
  font-family: "Poiret One", cursive !important;
  font-size: 14px !important;
}

.noMargin {
  margin: 0 0 0 0 !important;
}

.commentBox {
  margin: 10px 0px 10px 0px;
}

.removeTopMargin {
  margin-top: 0 !important;
}
