.Player {
  background: #0e4050;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5) !important;
  border-radius: 15px;
  height: 135px;
  /* margin-bottom: 5px !important; */
}

.Waveform {
  /* text-align: center; */
  height: 120px;
}

.Author {
  color: #e0e0e0;
  font-family: "Poiret One", cursive !important;
  font-size: 12px;
}

.Title {
  color: #f2f2f2;
  font-family: "Poiret One", cursive !important;
  font-size: 15px;
}

.playing {
  /* background-color: aquamarine; */
}

.paused {
  /* background-color: azure; */
}

.Controls {
  text-align: center;
}

img.wavey {
  width: 100%;
  height: 100%;
  border-left: 1px solid #d4d4d5;
  border-right: 1px solid #d4d4d5;
}

.songImage {
  width: 5em;
  height: 5em;
  border-radius: 500rem;
}

.artistRow {
  padding-bottom: 0 !important;
  padding-top: 0.2rem !important;
}

.imageRow {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.titleRow {
  padding-top: 0 !important;
}

.ui.grid > .row {
  padding-bottom: 0 !important;
}

.noLeftRightPadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.noBorder {
  box-shadow: 0px 0 0 0 #d4d4d5 !important;
}

.placeholder {
  color: #828282;
  font-family: "Poiret One", cursive !important;
  font-size: 20px;
}
